#report{
    padding: 1rem 0;
    background: white;
}

#report > div{
    width: 100%;
}

#sheet-header{
    padding: 1vw 3vw;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

#chayajudge{
    width: 80%;
    font-weight: 600;
    font-size: 1.3rem;
}

.sheet-header-info{
    font-size: 0.85rem;
    text-align: right;
    color: var(--light-gray);
}

.verline{
    background-color: var(--light-gray);
    width: 1px;
    height: 60%;
}

.label-grid{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.detail{
    color: black;
    font-weight: 400;
}

#comp-detail{
    background-color: var(--light-blue);
    color: #565656;
    padding: 1rem 2.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#comp-detail #detail-comp-name{
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 1.5em;
    grid-area: 1 / 1 / span 2 / span 4;
}

#comp-detail .detail-comp-score,
#comp-detail .detail-comp-time{
    color: var(--dark-blue);
    font-size: 1.2em;
    font-weight: 600;
}

#comp-summary{
    padding: 1rem 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#comp-score-breakdown, #comp-score-breakdown td, #comp-score-breakdown th{
    border: 1px solid var(--dark-blue);
    
}

#comp-score-breakdown {
    width: 90%;
    border-collapse: collapse;
    /*border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;*/
}

#comp-score-breakdown th{
    height: 36px;
    padding: 4px 10px;
    background-color: var(--dark-blue);
    color: #fff;
}

#comp-score-breakdown td{
    height: 32px;
    padding: 4px 10px;
}

#comp-score-breakdown th:first-child,
#comp-score-breakdown td:first-child{
    width: 50%;
    text-align: left;
}

#comp-score-breakdown th:not(first-child),
#comp-score-breakdown td:not(first-child){
    width: calc(50% / 3);
}

#comp-score-summary{
    width: 50%;
    background-color: var(--dark-blue);
    color: #fff;
    justify-self: flex-end;
}

#comp-score-summary #detail-comp-score,
#comp-score-summary #detail-comp-time{
    font-size: 1.2rem;
}

#comp-score-summary th,
#comp-score-summary td{
    padding: 4px 10px;
    height: 32px;
}

#comp-score-summary th:first-child{
    text-align: left;
    width: 50%;
}
#comp-score-summary td:last-child{
    text-align: left;
    font-size: 0.85rem;
}