.comp-title{
    color: #2B318A;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

#sidebar{
    top: 14vh;
    position: sticky;
    display: grid;
    justify-content: start;
    align-items: start;
    gap: 40px;
    margin-left: 3vw;
    height: fit-content;
    width: 10.8rem;
    color: #999999;
    font-weight: 600;
    font-size: 0.9rem;
}

#sidebar button:hover{
    background-color: #eaeaea;
}

#sheet{
    display: flex;
    flex-direction: column;
    padding: 1.5% 3%;
    margin-bottom: 4rem;
    border: #eaeaea 1px solid;
    border-radius: 0.5rem;
    width: 50vw;
    min-width: 10rem;
    background-color: #ffffff;
}

.sheet-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sheet-content-header{
    font-size: 1.35rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.sheet-content-lists{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: #eaeaea 1px solid;
    border-radius: 0.5rem;
    margin: 0.3rem 0;
    padding: 1rem;
}

.sheet-content-lists-title{
    font-size: 1.1rem;
    width: 60%;
}

.sheet-input-hide{
    position: absolute;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.sheet-button{
    display: inline-block;
    padding-block: 1px;
    padding-inline: 6px;
    background-color: #eff1fa;
    color: #5d83fa;
    font-size: 1.1rem;
    border: 0;
    cursor: pointer;
    transition: linear 0.15s;
}

.sheet-button::placeholder{
    color: #5d83fa;
}
.sheet-content-lists-value input:hover ~ .sheet-button{
    background-color: #cbddff;
}

.sheet-content-lists-value input:checked ~ .sheet-button{
    background-color: #5d83fa;
    color: #ffffff;
}

.detail-input{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    height: 30px;
    font-size: 1rem;
    padding-left: 10px;
    color: #5d83fa;
    margin-bottom: 4px;
}

.input-border-none:focus{
    outline: none;
    background-color: #eff1fa;
}

.export:hover .export-menu{
    display: block;
    transition: ease-in-out .15s;
}

.export-menu{
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #eff1fa;
    border-radius: 10px;
    width: 175px;
    padding: 6px 0;
}

.export-menu button{
    text-align: left;
    width: 100%;
    background: none;
    border: none;
    border-radius: 2px;
    font-size: 0.85rem;
    color: var(--dark-gray);
    padding: 5px 0;
    padding-left: 20px;
}

.export-menu button:hover{
    background-color: #cbddff !important;
}

.warning-button:hover{
    background-color: var(--warning-red) !important;
    color: white;
}