@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --header-height: clamp(56px, 12vh, 70px);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body{
    background-color: #f8f9fd;
}

hr{
    width: 100%;
    border: 1px solid #eaeaea;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: var(--header-height);
    padding: 2rem 1rem;
    margin: auto;
    color: #1F1F1F;
    background-color: #ffffff;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.comp-title{
    color: #2B318A;
    font-size: 2rem;
    font-weight: 700;
}

.wrapper{
    padding-top: calc(var(--header-height) + 2vh);
    display: flex;
    flex-direction: row;
}

#sidebar{
    top: 16vh;
    position: sticky;
    display: grid;
    justify-content: start;
    align-items: start;
    gap: 40px;
    margin-left: 3vw;
    height: fit-content;
    width: 10.8rem;
    color: #999999;
    font-weight: 600;
    font-size: 0.9rem;
}

#sidebar button:hover{
    background-color: #eaeaea;
}

.round-button{
    aspect-ratio: 1;
}

.grayblue-button{
    background-color: #eff1fa;
    color: #999999;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    transition: linear 0.15s;
    padding: 10px 15px;
    cursor: pointer;
}

.white-button{
    background-color: #ffffff;
    color: #999999;
    border: 1px #99999949 solid;
    outline: none;
    border-radius: 40px;
    padding: 10px 15px;
    cursor: pointer;
}

.text-highlight, .text-highlight::placeholder{
    color: #5d83fa;
    font-weight: 700;
    font-size: 2rem;
    transition: 0.15s;
}

#sheet{
    display: flex;
    flex-direction: column;
    padding: 1.5% 3%;
    margin-bottom: 4rem;
    border: #eaeaea 1px solid;
    border-radius: 0.5rem;
    width: 50vw;
    min-width: 10rem;
    background-color: #ffffff;
}

.sheet-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sheet-content-header{
    font-size: 1.35rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.sheet-content-lists{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: #eaeaea 1px solid;
    border-radius: 0.5rem;
    margin: 0.3rem 0;
    padding: 1rem;
}

.sheet-content-lists-title{
    font-size: 1.1rem;
    width: 75%;
}

.sheet-input-hide{
    position: absolute;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.sheet-button{
    display: inline-block;
    padding-block: 1px;
    padding-inline: 6px;
    background-color: #eff1fa;
    color: #5d83fa;
    font-size: 1.5rem;
    border: 0;
    cursor: pointer;
    transition: linear 0.15s;
}

.sheet-button::placeholder{
    color: #5d83fa;
}

.round-container{
    border-radius: 40px;
    background-color: #eff1fa;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.rect{
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 1rem;
}

.rect:focus{
    outline: none;
}

.box{
    border-radius: 6px;
    font-size: 1.5rem;
    height: 100%;
    aspect-ratio: 1;
}

.sheet-content-lists-value input:hover ~ .sheet-button{
    background-color: #cbddff;
}

.sheet-content-lists-value input:checked ~ .sheet-button{
    background-color: #5d83fa;
    color: #ffffff;
}

.input-outline-none:focus{
    outline: none;
}